<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ExamenCoppel.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9CA2BF1E24DB49B000E8082C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA2BF3424DB49B300E8082C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9CA2BF3F24DB49B400E8082C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
